h1 {
    text-align: center;
}

.container-flex-1 {
    display: flex;
    background-color: darkcyan;
    flex-wrap: nowrap;
}

.container-flex-2 {
    display: flex;
    background-color: darkcyan;
    flex-wrap: nowrap;
}

.item-flex {
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    margin: 20px;
    font-size: 1.5em;
    color: white;
}