h1{
    text-align: center;
}
.containner-flex-1{
    display: flex;
    background: aqua;
    flex-flow: row wrap;
}
.containner-flex-2{
    display: flex;
    background: aqua; 
    flex-flow:row nowrap ;
}
.containner-flex-3{
    display: flex;
    height: 500px;
    background: aqua; 
    flex-flow: column wrap;
}
.containner-flex-4{
    display: flex;
    height: 500px;
    background: aqua; 
    flex-flow: column nowrap;
}

.item-flex{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 20px;
    font-size: 1.5em;
    color: white;
}