* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
nav{
    background-color: #252528;
  height: 100%;
  position: fixed;
  top:0;
  z-index: 10;
 /* right: 100%;*/
  left: -28em;
  transition: 1.5s;
}
.menu {
    list-style: none;
    font-size: 1.7em;
    line-height: 60px;
    margin: 7em auto 0 auto;
    padding-left: .1em;
  /*  border-bottom: 2px solid ;*/
    width: 16em;
    }
.menu li {
    box-shadow: -3px -5px 10px rgb(225, 225 ,225,.2) inset;
    margin-bottom: 5px;
}
.menu li:hover{
    box-shadow: -3px -5px 10px rgb(252,252,252) inset;

}
    


.menu a:hover{
    margin-left: 1em;
}
.menu a{
    text-decoration: none;
    color:white;
    display:block;
    padding-left: 1.5em;
    width: 100%;
    font-size: 1.3em;
    transition: all 1s;
}

    

.fas,.fab{
    color: white;
    padding-right: .3em;
}
.icono-menu {
    position: fixed;
    top: 50px;
    left: 40px;
    z-index:20;
}
.fa-bars{
    font-size: 1.8em;
}
.mostrarnav {
    left: 0;
} 
h1 {
    color: rgb(255,255,255);
    font-size: 2.5em;
    text-align: right;
    margin-top: 40px;
    font-weight: 900;
    margin-right: 100px;
    margin-bottom: 25px;
}
p{
    color: rgb(255,255,255);
    font-size: 1.3em;
    text-align: justify;
}
.main-content{
    width: 85%;
    margin-right: 100px;
    margin-left:100px;
}